:root{
    --primary: rgb(26, 255, 198);;
    --light: #EEEEEE;
    --dark:#212121;

}

.heading{
    color: white;
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
    text-decoration: underline;
    text-underline-position: under;
    padding-bottom: 3rem;
    padding-top: auto;
    margin-bottom: 0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
    
}

html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: rgb(0, 0, 0);
   
}



.hero{

    min-height: 100vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    /* background-image: url(https://i.pinimg.com/originals/be/33/27/be3327b6467c4791a3021e10cbabc0ee.gif); */
    background-image: url(https://i.pinimg.com/originals/72/bb/6f/72bb6f88366e5a8f04f29d559dc6c77e.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
    color: #fff;
    padding: 0 8%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
   
    
}

.logo{
    
    width: 320px;
    height: 70px;
    z-index:99;
}


nav ul li{
    display: inline-block;
    list-style: none;
    padding: 10px 30px;
    margin: 0 .5vh;
    
    
}

nav ul li a:hover{

    background-color: rgb(26, 255, 198);
    padding: 1vh;
    
    cursor: pointer;
    color:#242424 ;
    font-weight: 500;
    
    



}


nav ul li a{
    color: #fff;
    text-decoration: none;
    padding: 1vh;
    border-radius: 8px;
    cursor: pointer;
  
    font-weight: 500;
}

.hero h1{
    font-size: 75px;
    margin-top: 12%;

}
 
.explore-b{

    background: #393939;
    border: 0;
    outline: none;
    padding: 15px 35px;
    color: #fff;
    margin-top: 25px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 5%;

}

.indicator span{
    display: inline-block;
    background-color: #3a3a3a;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-right: 10px ;
}

.indicator{

    margin-top: 150px;

}

.active{

    background: #bfbfbf;
}

.name{
    color: rgb(26, 255, 198);
}

.about{
	width: 100%;
	padding: 100px 0px;
	background-color: #000000;
}
.about img{
	height: auto;
	width: 430px;
    border-radius: 30%;
}

.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}


.hamburger{
    display: block;
    position: relative;
    z-index: 1;
    user-select: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    z-index: 99;

}




.hamburger span{
    display: block;
    width: 33px;
    height: 4px;
    margin: 5px;
    position: relative;

    background-color: var(--light);
    border: 6px;
    border-radius: 6px;
    z-index: 1;
    transform-origin: 0 0;
    transition: 0.4s;

}

.mobile-nav{
    display: block;
    position: fixed;
    top: 0;
    left: 100%;
    right: 0;
    min-height: 100vh;
    z-index:98;
    background-color: #101010;
    padding-top:120px ;
    transition: 0.4s;

}

.mobile-nav.is-active{
    left: 0;

}

.mobile-nav li{
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    text-align: center;
    
    margin-bottom: 16px;
    padding: 12px 16px;
    background-color: #1b1b1b;
    
    text-decoration: none;

}

.mobile-nav li:hover{
    background-color: #323232;
    color:rgb(26, 255, 198); 
    
    
}



.hamburger:hover span:nth-child(2){
    transform: translateX(10px);
    background-color: rgb(26, 255, 198);
}

.hamburger.is-active span:nth-child(1){
    transform: translate(0px, -2px) rotate(45deg);
}

.hamburger.is-active span:nth-child(2){
    opacity: 0;
    transform: translate(15px) ;
}

.hamburger.is-active span:nth-child(3){
    transform: translate(-3px, 3px) rotate(-45deg);
}


.hamburger.is-active:hover span{
    background-color: var(--primary);
}

.menu{
    display: none;

}

@media (min-width: 920px){
    .hamburger{
        display: none;
    }
    .menu{
        display: block;
    }

    .mobile-nav{
        display: none;
    }
}













.rfc{
    font-size: 1.3rem;
}

footer{
    display: flex;
    align-items: center;
    padding: auto;
    justify-content: space-between;
    padding: 20px 10px;
    color: white;
    background: #101010;
}

footer ul{

    padding: 2vh;
    list-style: none;

}

footer ul a{
   font-size: 2em;
   padding-left: 1vh;
   color: var(--light);
}

footer ul a:hover{
    
    font-size: 2em;
    color:rgb(8, 255, 210) ;
}

a:visited{
    color: white;
}



/* about section css */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-family: 'Quicksand', sans-serif;
}
:root{
    --color:rgb(95, 237, 204);
}
section{
    height: 100vh;
    display: flex;
    align-items: center;
    background: #000000;
}
.container{
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2.5rem;
    align-items: center;
    justify-content: center;
}
.left img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    
    border-radius: 30%;
}
.right > *{
    margin-bottom: 1.1rem;
    color: #fff;
}
.right h4{
    font-weight: 550;
    color: #000000;
    background: var(--color);
    display: inline-block;
    padding: 5px 15px;
    font-size: 16px;
    border-radius: 4px;
}
.right h1{
    font-size: 2rem;
    font-weight: 800;
}
.right p{
    text-align: justify;
}
.btn{
    text-decoration: none;
    display: inline-block;
    padding: 10px 25px;
    border: 2px solid var(--color);
    border-radius: 5px;
    position: relative;
    z-index: 1;
}
.btn::after{
    content: "";
    background: var(--color);
    
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    z-index: -1;
    transition: width .5s ease;
}
.btn:hover::after{
    width: 100%;
    
}
@media (max-width:800px){
    .grid{
        grid-template-columns: 1fr;
    }

    .left{
        max-width: 80%;
        
        margin-bottom: 2em;
    }

    



}







@media only screen and (max-width:800px) {

    nav ul{
        width: 100%;
        
    }

    .logo{
        width: 25vh;
        height: 6vh;
    }

   .about{
       display: block;
   }

   .container{
    width: 96%;
  }
  .hero{
  background-size: 80%;
  }
}


/* timelone section */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
	font-family: 'Poppins', sans-serif;
}
.timeline-section{
	background-color: #000000;
	min-height: 100vh;
	padding: 1rem 15px;
    margin-bottom: 8rem;
}
.timeline-items{
	max-width: 1000px;
	margin:auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.timeline-items::before{
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	background-color: #2f363e;
	left: calc(50% - 1px);
}
.timeline-item{
	margin-bottom: 40px;
	width: 100%;
	position: relative;
}
.timeline-item:last-child{
	margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
	text-align: right;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.timeline-dot{
	height: 16px;
	width: 16px;
	background-color: rgb(8, 255, 210);
	position: absolute;
	left: calc(50% - 8px);
	border-radius: 50%;
	top:10px;
}
.timeline-date{
	font-size: 18px;
	color: rgb(8, 255, 210);
	margin:6px 0 15px;
}
.timeline-content{
    background-color: #2f363e;
	padding: 30px;
	border-radius: 5px;
}
.timeline-content h3{
    font-size: 20px;
	color: #ffffff;
	margin:0 0 10px;
	text-transform: capitalize;
	font-weight: 500;
}
.timeline-content p{
    color: #c8c8c8;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
}

/* responsive */
@media(max-width: 767px){
	.timeline-items::before{
		left: 7px;
	}
	.timeline-item:nth-child(odd){
		padding-right: 0;
		text-align: left;
	}
	.timeline-item:nth-child(odd),
	.timeline-item:nth-child(even){
		padding-left: 37px;
	}
	.timeline-dot{
		left:0;
	}


}


.container{
    width: 1200px;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    align-items: center;
    flex-wrap: wrap;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

    
    .bodyst{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: 20em;
    }


.container .card{
    width: 320px;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    position: relative;
}

.container .card .imgbox{
    width: 100%;
    height: 100%;
}

.container .card .imgbox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .card .content{
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    position: absolute;
    left: -100%;
    top: 0;
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    backdrop-filter: blur(25px);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: left .5s;
}

.container .card:hover .content{

    left: 0;

}

.container .card .content .title{
    font-size: 2rem;
    color: white;
    -webkit-text-stroke: .5px black;
}


.container .card .content .description{

    margin-top: 20px;
    color: white;
    text-align: center;
}





